<html> 
	<head>
    <meta charset="UTF-8">
    <title>Projet secure code QDR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">




	</head>
	
	<body>

        <html> 
	<head>
    <meta charset="UTF-8">
    <title>Projet secure code QDR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">




	</head>
	
	<body>

{% block content %}
        <h1>{% block title %} ERROR {% endblock %}</h1>
        <p>Server couldn't find your page, looks like it doesn't exist.</p>
        <p>It Seems like your searching for the wrong page :).</p>
{% endblock %}

</body>
</html>

</html>

</body>
</html>

</html>