<html> 
	<head>
    <meta charset="UTF-8">
    <title>Projet secure code QDR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	
	<body>
    <h1>Welcome to my secure code project !</h1>
    <h2>Standard value for the date of today : {{ utc_dm }}</h2>
    <h3>Standard value for the hour of today : {{ utc_dt }}</h3>
    <h3>You can select the format for the date and hour here ! <br>
      For the Date choose and Hour put %... (check strftime) <br>
      [BTW click on entry to send your values] <br>
    </h3>
      <form method="post" action="/getformat">
          <input type="text" placeholder="Options from strftime" name="action1" value="{{ lol }}"/>
      </form>
</body>
</html>