<html> 
	<head>
    <meta charset="UTF-8">
    <title>Projet secure code QDR</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	
	<body>
    <h1>Welcome to my secure code project !</h1>

      <h3>You can set the date here (click on the button to send your values)<br>
        <form method="post" action="/setdate">
          <label>
            Set the time you want with the calendar :
            <input type="datetime-local" name="actiontest" value="{{ lel }}"> <p><button>Send</button></p>
          </label>
      </form>
</body>
</html>